.red
{
    background-color: red;
    color: white;
    margin:50px;
}
.green
{
    background-color: rgb(72, 255, 0);
    color: white;
    margin:50px;
}
.my_align
{
    text-align: center;
    width:100px;
    height: 100px;;
}